@page
@model SBD.Pages.LinieLotnicze.IndexModel

@{
    ViewData["Title"] = "Linie lotnicze";
}

<h1>Linie lotnicze</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiniaLotnicza[0].kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiniaLotnicza[0].nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LiniaLotnicza) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.kod">Edytuj</a> |
                <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.kod">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
