@page
@model SBD.Pages.LinieLotnicze.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiniaLotnicza[0].nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LiniaLotnicza) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.kod">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.kod">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.kod">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
