@page
@model SBD.Pages.Piloci.DeleteModel

@{
    ViewData["Title"] = "Usuń pilota";
}

<h1>Usuń pilota</h1>

<h3>Czy napewno chcesz usunąć pilota?</h3>
<div>
    <h4>Pilot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pilot.imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pilot.imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pilot.nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pilot.nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pilot.linia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pilot.linia.kod)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pilot.id_pilota" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a class="btn button button4" asp-page="./Index">Powrót do listy</a>
    </form>
</div>
