@page
@model SBD.Pages.Loty.IndexModel

@{
    ViewData["Title"] = "Loty";
}

<h1>Loty</h1>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Samolot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Lotnisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Lotnisko_Koncowe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Kapitan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Oficer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Samolot.id_samolotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotnisko.id_lotniska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotnisko_Koncowe.id_lotniska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kapitan.id_pilota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficer.id_pilota)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_lotu">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.id_lotu">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_lotu">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
