@page
@model SBD.Pages.Loty.IndexModel

@{
    ViewData["Title"] = "Loty";
}

<h1>Loty</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Samolot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].id_lotniska_startowego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].id_lotniska_koncowego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Kapitan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot[0].Oficer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Samolot.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotnisko.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotnisko_Koncowe.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kapitan.imie)
                @Html.DisplayFor(modelItem => item.Kapitan.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficer.imie)
                @Html.DisplayFor(modelItem => item.Oficer.nazwisko)
            </td>
            <td style="max-width: 300px">
                <a class="btn button button4" asp-page="/Bilety/Lista" asp-route-id="@item.id_lotu">Bilety</a> |
                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.id_lotu">Edytuj</a> 
                                                                                                         }
                <a class="btn button button4" asp-page="./Details" asp-route-id="@item.id_lotu">Szczegóły</a> |
                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.id_lotu">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
