@page
@model SBD.Pages.Lotniska.DeleteModel

@{
    ViewData["Title"] = "Usuń lotnisko";
}

<h1>Usuń lotnisko</h1>

<h3>Czy napewno chcesz usunąć lotnisko?</h3>
<div>
    <h4>Lotnisko</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lotnisko.ilosc_miejsc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lotnisko.ilosc_miejsc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lotnisko.lokalizacja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lotnisko.lokalizacja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lotnisko.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lotnisko.nazwa)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lotnisko.id_lotniska" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Powrót do listy</a>
    </form>
</div>
