@page
@model SBD.Pages.Lotniska.IndexModel

@{
    ViewData["Title"] = "Lotniska";
}

<h1>Lotniska</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lotnisko[0].ilosc_miejsc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotnisko[0].lokalizacja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotnisko[0].nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lotnisko) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ilosc_miejsc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokalizacja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.id_lotniska">Edytuj</a> |
                <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.id_lotniska">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
