@page
@model SBD.Pages.Pracownicy.DeleteModel

@{
    ViewData["Title"] = "Usuń pracownika";
}

<h1>Usuń pracownika</h1>

<h3>Czy napewno chcesz usunąć pracownika?</h3>
<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik.imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pracownik.imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik.nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pracownik.nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik.stanowisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pracownik.stanowisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pracownik.Lotnisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pracownik.Lotnisko.nazwa)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pracownik.id_pracownika" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Powrót do listy</a>
    </form>
</div>
