@page
@model SBD.Pages.Pracownicy.IndexModel

@{
    ViewData["Title"] = "Pracownicy";
}

<h1>Pracownicy</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pracownik[0].imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pracownik[0].nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pracownik[0].stanowisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pracownik[0].Lotnisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pracownik) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanowisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotnisko.nazwa)
            </td>
            <td>
                <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.id_pracownika">Edytuj</a> |
                <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.id_pracownika">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
