@page
@model SBD.Pages.Bagaze.IndexModel

@{
    ViewData["Title"] = "Bagaże";
}

<h1>Bagaże</h1>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bagaz[0].waga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bagaz) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.waga) kg
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_bagazu">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.id_bagazu">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_bagazu">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
