@page
@model SBD.Pages.Samoloty.DetailsModel

@{
    ViewData["Title"] = "Szczegóły samolotu";
}

<h1>Szczegóły samolotu</h1>

<div>
    <h4>Samolot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samolot.model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samolot.model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samolot.typ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samolot.typ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samolot.ilosc_miejsc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samolot.ilosc_miejsc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samolot.LiniaLotnicza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samolot.LiniaLotnicza.kod)
        </dd>
    </dl>
</div>
<div>
    <a class="btn button button4" asp-page="./Edit" asp-route-id="@Model.Samolot.id_samolotu">Edytuj</a> |
    <a class="btn button button4" asp-page="./Index">Powrót do listy</a>
</div>
