@page
@model SBD.Pages.Samoloty.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].ilosc_miejsc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].LiniaLotnicza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Samolot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilosc_miejsc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiniaLotnicza.kod)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_samolotu">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_samolotu">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_samolotu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
