@page
@model SBD.Pages.Samoloty.IndexModel

@{
    ViewData["Title"] = "Samoloty";
}

<h1>Samoloty</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].ilosc_miejsc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Samolot[0].LiniaLotnicza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Samolot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilosc_miejsc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiniaLotnicza.kod)
            </td>
            <td>
                <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.id_samolotu">Edytuj</a> |
                <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.id_samolotu">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
