@page
@model SBD.Pages.Bilety.DetailsModel

@{
    ViewData["Title"] = "Szczegóły biletu";
}

<h1>Szczegóły biletu</h1>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.Pasazer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bilet.Pasazer.id_pasazera)
             - 
            @Html.DisplayFor(model => model.Bilet.Pasazer.imie)
            @Html.DisplayFor(model => model.Bilet.Pasazer.nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.nr_miejsca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bilet.nr_miejsca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.Lot)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.datum)



        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bilet.Bagaz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bilet.Bagaz.id_bagazu)
             - 
            @Html.DisplayFor(model => model.Bilet.Bagaz.waga)
            kg
        </dd>
    </dl>
</div>
<div>
    <a class="btn button button4" asp-page="./Edit" asp-route-id="@Model.Bilet.id_biletu">Edytuj</a> |
    <a class="btn button button4" asp-page="./Index">Powrót do listy</a>
</div>
