@page
@model SBD.Pages.Bilety.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bilet[0].Pasazer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bilet[0].nr_miejsca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bilet[0].Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bilet[0].Bagaz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bilet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pasazer.imie)
                @Html.DisplayFor(modelItem => item.Pasazer.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nr_miejsca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.id_lotu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bagaz.id_bagazu)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_biletu">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_biletu">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_biletu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
