@page
@model SBD.Pages.Licencje.DetailsModel

@{
    ViewData["Title"] = "Szczegóły licencji";
}

<h1>Szczegóły licencji</h1>

<div>
    <h4>Licencja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencja.data_wydania)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencja.data_wydania)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencja.rodzaj_licencji)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencja.rodzaj_licencji)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencja.Pilot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencja.Pilot.imie)
            @Html.DisplayFor(model => model.Licencja.Pilot.nazwisko)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Licencja.id_licencji">Edytuj</a> |
    <a asp-page="./Index">Powrót do listy</a>
</div>
