@page
@model SBD.Pages.Licencje.IndexModel

@{
    ViewData["Title"] = "Licencje";
}

<h1>Licencje</h1>

<p>
    <a class="btn button button4" asp-page="Create" class="btn button button1">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licencja[0].data_wydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencja[0].rodzaj_licencji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencja[0].Pilot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Licencja) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_wydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rodzaj_licencji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pilot.imie)
                @Html.DisplayFor(modelItem => item.Pilot.nazwisko)
            </td>
            <td>
                <a class="btn button button4" asp-page="./Edit" asp-route-id="@item.id_licencji">Edytuj</a> |
                <a class="btn button button4" asp-page="./Delete" asp-route-id="@item.id_licencji">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
